# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2020 Linumiz
# Author: Parthiban Nallathambi <parthiban@linumiz.com>

if BOARD_RELAX_KIT

config BOARD
	default "relax_kit"

endif # BOARD_RELAX_KIT
